@use '/src/styles/variables.module' as *;

.selectAchievements {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $big;
}

@media (max-width: 768px) {
  .selectAchievements {
    flex-direction: column;
    gap: $standard;
  }
}