@use '/src/styles/variables.module' as *;

.achievements {
  min-height: 353px;
  width: calc(100% - 48px);  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $big;
  border-radius: $big;
  border: 1px solid $gray-50;
  background-color: $gray-blur;
  padding: $big;
}

.achievementsHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: $standard;
  width: 100%;
  
  h1 {
    color: $white;
    font-size: $xxl;
  } 

  h2 {
    color: $gray-lite;
    font-size: $big;
  }
}

@media (max-width: 768px) {
  .achievements {
    gap: $standard;
    padding: $standard;
  }
  
  .achievementsHeaderWrapper {
    gap: $xxs;

    h1 {
      font-size: $l;
    }
    
    h2 {
      font-size: $standard;
    }
  }
}