// colors
$black: #000000;
$gray: #535353;
$white: #ffffff;
$gray-lite: #A7A7A7;
$gray-50: rgba(101, 101, 101, 0.5);
$dark-gray-15: rgba(98, 98, 98, 0.15); 
$gray-blur: rgba(37, 37, 37, 0.6);
$gold-lite-50: rgba(197, 164, 132, 0.5);
$gold-lite: #AF8D6C;
$sandy-baige: rgba(213, 186, 148, 1);
$caramel: rgba(185, 135, 86, 1);
$espresso: rgba(83, 68, 52, 1);
$dark-coffee-brown: rgba(66, 43, 11, 1);
$hover-blur: rgba(69, 69, 69, 0.5);

// sizes
$xxs: 0.5rem; // 8px
$xs: 0.75rem; // 12px
$small: 0.875rem; // 14px
$standard: 1rem; // 16px
$medium: 1.25rem; // 20px
$big: 1.5rem; // 24px
$l: 2rem; // 32px
$xl: 2.25rem; // 36px
$xxl: 2.375rem; // 38px