// colors
$black: #000000;
$gray: #535353;
$white: #ffffff;
$gray-lite: #A7A7A7;
$gray-50: rgba(101, 101, 101, 0.5);
$gray-blur: rgba(37, 37, 37, 0.6);
$gold-lite-50: rgba(197, 164, 132, 0.5);
$gold-lite: #AF8D6C;
$sandy-baige: rgba(213, 186, 148, 1);
$caramel: rgba(185, 135, 86, 1);
$espresso: rgba(83, 68, 52, 1);

// sizes
$small-gap: 8px;
$medium-gap: 16px;
$big-gap: 24px;
$xl-gap: 32px;