@use '/src/styles/variables.module' as *;

.selectRanksWrapper {
  position: relative;
  max-width: 167px;
  width: 100%;
}

.selectRanks {
  max-width: 167px;
  width: 100%;
  height: 87px;
  background-color: $gray-blur;
  border-radius: $standard;
  border: 1px solid $gray-blur;
  text-transform: uppercase;
  color: $gray-lite;
  padding: $big $l;
  appearance: none;

  option {
    background-color: $gray-blur;
    outline: none;
    border: none;
  }
}

.selectRanksArrow {
  position: absolute;
  top: 35%;
  right: 16%;
}

@media (max-width: 768px) {
  .selectRanksWrapper {
    max-width: none;
  }
  
  .selectRanks {
    max-width: none;
    width: 100%;
    padding: $standard;
  }

  .selectRanksArrow {
    right: 1.5%;
  }
}