@use '/src/styles/variables.module' as *;

.achievementTypeCard {
  width: calc(100% - 32px);
  height: auto;
  padding: $standard;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $standard;
  border: 1px solid $gray-50;
  background: linear-gradient(to bottom, rgba(40, 40, 40, 1), rgba(12, 11, 11, 1));
}

.achievementCardTopPart {
  position: relative;
  width: 100%;
  height: calc(127px - $standard);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: $standard;
  border-bottom: 1px solid $gray-50;
}

.achievementCardTopPartButton {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  bottom: 103px;
  right: -4%;
}

.achievementCardTopPartContextMenu {
  width: 100px;
  position: absolute;
  top: -25%;
  left: 10%;
  padding: $xxs;
  background: $gold-lite;
  color: $gray-lite;
  border-radius: $xxs;
}

.achievementCardBottomPart {
  padding-top: $standard;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $xxs;

  h1 {
    font-size: $small;
    color: $gold-lite;
    width: 100%;
  }

  h2 {
    font-size: $small;
    color: $gray-lite;
    width: 100%;
    line-height: 120%;
  }
}

.achievementCardBottomPartProgressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $xxs;
  width: 100%;
}

.bottomPartProgressBarQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 4px;

  h2 {
    font-size: $small;
    color: $gray-lite;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    p {
      font-size: $small;
      color: $gray-lite;
    }
  }
}

.bottomPartProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: $gray;
}

.bottomPartProgressBarProgress {
  height: 4px;
  background: linear-gradient(to left, $sandy-baige, $caramel, $espresso);
}

