@use '/src/styles/variables.module' as *;

.openedAchievementsProgress {
  width: 100%;
  max-width: 618px;
  border-radius: $xxs;
  border: 1px solid $gray-50;
  background-color: $gray-blur;
  padding: $standard;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.achievementsProgressTextWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: $small;
    text-transform: uppercase;
    color: $gray-lite;
  }
}

.textWrapperHeader {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  h1 {
    font-size: $small;
    text-transform: uppercase;
    color: $gray-lite;
  }
}

.achievementsProgressBar {
  width: 100%;
  height: 40px;
  border-radius: $xxs;
  border: 1px solid $gray-50;
  background-color: $hover-blur;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
}